<app-header [title]="title" [drawer]="drawer"></app-header>
<app-side-menu (sideNavControl)="sideNavControl($event)">
    <div class="menu">
        <div>Menu 1</div>
        <div>Menu 2</div>
    </div>
    <div>hello world</div>
    <button (click)="clickMe()">click Me</button>
    <ng-template #content>
        <mat-form-field appearance="legacy">
            <mat-label>Search products...</mat-label>
            <input matInput #productSearch (input)="search(productSearch.value)">
        </mat-form-field>
        <mat-grid-list cols="4" rowHeight="500" *ngIf="products; else loader">
            <mat-grid-tile *ngFor="let product of products | productsFilter: searchText; index as i">
                <app-product [product]="product"></app-product>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-template>
</app-side-menu>
<ng-template #loader>
    <mat-spinner></mat-spinner>
</ng-template>
